        </div>
    </div>
    <footer>
        <div class="container">
            <div class="copy text-center">
                Copyright 2016
            </div>
        </div>
    </footer>
    <script src="http://localhost:3000/bootstrap/js/jquery.min.js"></script>
    <script src="http://localhost:3000/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://localhost:3000/js/custom.js"></script>
</body>

</html>